@{
    ViewData["Title"] = "Home Page";
}

    <div class="jumbotron">

        <div class="card-body">
            <h1 class="display-3">Welcome to Bug Tracker</h1>
            <p class="lead">Bug Tracker allows businesses to keep, track, and save bug reports.</p>
            <hr class="my-4">
            <p>You can see current projects on the projects page below.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" asp-action="index" asp-controller="Projects" role="button">Projects</a>
            </p>
        </div>
    </div>
