@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<div class="row">
    <div class="col-md-3">If you have a problem with the website please contact me</div>
    <div class="col-md-3">If you are an admin make sure you see the Admin section in the taskbar</div>
    <div class="col-md-3">This will be the third space to adress concerns</div>
</div>